@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-linear-transparent-primary-secondary {
  background-image: linear-gradient(
    rgba(255, 0, 0, 0) 5%,
    rgba(124, 61, 150, 0.7) 60%,
    #2f3cb2 95%
  );
}

.gradient-linear-primary-secondary-text {
  background: -webkit-linear-gradient(0deg, #bd00ff, #5250c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
